# BCB546X-Python Assignment
## Authors: Dr. X and Tanner M. Cook

### May 5th, 2021

This document will contain the code provided by Dr. X with additions and documentation from Tanner M. Cook

In [3]:
# Import dependencies needed for analysis
from Bio import SeqIO
from Bio.Data import CodonTable
import pandas as pd

In [12]:
#Loading Relevant files
BearM=pd.read_csv('bears_mass.csv')
for record in SeqIO.parse("bears_cytb.fasta", "fasta"):
    print(record.id)  #https://biopython.org/wiki/SeqIO

AF264047.1
AB020907.1
AB360958.1
U23562.1
AF268271.1
U18899.1
U23552.1
U23554.1
EU567096.1

In [29]:
#Inspect files
BearM

                  species     mass
0          Ursus spelaeus  550.800
1            Ursus arctos  203.500
2        Ursus thibetanus   99.714
3        Melursus ursinus  100.030
4        Ursus americanus  110.560
5     Helarctos malayanus   47.020
6  Ailuropoda melanoleuca  118.200
7      Tremarctos ornatus  140.700
8         Ursus maritimus  425.100

In [22]:
# 1
def get_sequences_from_file(fasta_fn):
    sequence_data_dict = {}
    for record in SeqIO.parse(fasta_fn, "fasta"):
        description = record.description.split()
        species_name = description[1] + " " + description[2]
        sequence_data_dict[species_name] = record.seq
    return(sequence_data_dict)

In [ ]:
####### YOUR STRING-TRANSLATE FUNCTION ########
## Write a function that translates sequences
## All sequences start at codon position 1
## Complete a function that translates using a loop over the string of nucleotides
## Here is  some pseudo-code and suggestions
## feel free to change the function and variable names
# def translate_function(string_nucleotides): 
#     mito_table = CodonTable.unambiguous_dna_by_name["Vertebrate Mitochondrial"] # this should work using BioPython (be sure to check what this returns)
#     for-loop through every 3rd position in string_nucleotides to get the codon using range subsets
#         # IMPORTANT: if the sequence has a stop codon at the end, you should leave it off
#         # this is how you can retrieve the amino acid: mito_table.forward_table[codon]
#         add the aa to aa_seq_string
#     return(aa_seq_string)